/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato;
    line-height: 1.5;
    /* display: grid; */
}

/* Navigation bar */

header{
    height: 100px;
    width: auto;
    background-color: rgba(255, 0, 0, 0.736);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

}
header nav{
    display: flex;
    flex-basis: 1200px;
    justify-content: space-between;
    
}
header nav a{
    display: inline-block;
    max-height: 55px;
}
header nav a img{
    max-width: 100%;
    max-height: 55px;
    align-content: center;
    justify-content: start;
    flex-basis: 500px;
}
/* .spacer{
    display: inline-block;
    background-color: white;
    height: 0px;
    width: calc(100% - 508.19px);
} */
.header-nav-ul{
    display: flex;
}

header nav ul{
    align-content: center;
    justify-content:flex-end;  
}
header nav ul li{
    display: inline;
    font-size: 20px;
    padding-right: 10px;  
    vertical-align: middle;
}
header nav ul li:last-child{
    padding-right: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}

svg{
    height: 24px;
    vertical-align: text-top;
}

header nav ul li a.current{
    text-decoration: underline;
}

/* Main Index.html  */

.main-articles{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;


}

main article{
    margin-bottom: 10px;
    height: 550px;
    width: 1200px;
    /* border: 1px black solid; */
}
.image{
    display: inline-block;
}

.text{
    /* border: 1px black solid; */
    display: inline-block;
    width: 500px;
    margin: 80px 5px 0px 40px;
    vertical-align: top;
}

.second{
    /* border: 1px black solid; */
    display: inline-block;
    width: 500px;
    margin: 80px 5px 0px 40px;
    vertical-align: top;
    margin-right: 40px;
}

.spacer-2{
    display: inline-block;
    width: 60px;
}

main div article div h2{
    font-size: 35px;
    color: rgba(255, 0, 0, 0.662);
}

main div article div p time{
    font-size: 20px;
}

main div article div a{
    color: rgba(255, 0, 0, 0.662);
    font-size: 20px;
}


main div article div a img{
    display: inline-block;
    max-height: 550px;
    width: 100%;    
}
.spacer-older{
    /* border: 1px black solid; */
    display: inline-block;
    width: calc(94% - 157.47px);
}
.older{
    display: inline-block;
    margin-right: 40px;
}

.older a{
    text-decoration: none;
    color: black;
}

/* Footer */
.footer{
    display: grid;
    background-color: rgba(255, 0, 0, 0.736);
    margin-top: 50px;
}

footer{
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 50px 40px 50px;
    justify-self: center;
    padding: 20px 20px;  
    
}

footer .footer-left-1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
}

footer .footer-right-1{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

footer .footer-left-2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
    margin-bottom: 20px;
}

footer .footer-right-2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
    margin-bottom: 20px;
}

footer .footer-left-3{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
}

footer .footer-right-3{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

footer p{
    display: inline-block;
    vertical-align: top;
    color: white;
}


footer ul li{
    display: inline;
    color: white;
}
footer ul li a{
    /* text-decoration: none; */
    color: white;
}

/* .first-space{
    display: inline-block;
    border: 1px black solid;
    width: calc(100% - 654.19px);
} */

/* .second-space{
    display: inline-block;
    border: 1px black solid;
    width: calc(100% - 125.4px);
} */

/* .last-ul{
    margin-left: calc(100% - 100px);
} */

footer ul li a svg{
    height: 22px;
}