/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
}

body{
    line-height: 1.5;
}

p,
a{
    font-weight: 350;
}

/* Navigation bar */
header{
    position: fixed;
    width: 100%;
    /* display: block; */
}

.header{
    height: 100px;
    width: 100%;
    background-color: #e83046;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

}
header nav{
    display: flex;
    flex-basis: 1200px;
    justify-content: space-between;
    
}
header nav a{
    display: inline-block;
    max-height: 55px;
}
header nav a img{
    max-width: 100%;
    max-height: 55px;
    align-content: center;
    justify-content: start;
    flex-basis: 500px;
}

.header-nav-ul{
    display: flex;
}

header nav ul{
    align-content: center;
    justify-content:flex-end;  

}
header nav ul li{
    display: inline;
    font-size: 20px;
    padding-right: 10px;  
    vertical-align: middle;
}
header nav ul li:last-child{
    padding-right: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}

svg{
    height: 24px;
    vertical-align: text-top;
}

header nav ul li a.current{
    text-decoration: underline;
}

/* Main Index.html  */

.main-articles{
    padding-top: 150px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

main article{
    margin-bottom: 10px;
    height: 550px;
    width: 1200px;

}

.image{
    float: left; 
}

.text{
    width: 580px;
    float: right; 
    margin: 80px 10px 0px 0px;
}

.second{
    float: left; 
    width: 520px;
    margin: 100px 5px 0px 40px;
    padding-top: 50px;
    margin-right: 40px;
}

.image-2{
    float: right;
}

main div article div h2{
    font-weight: 500;
    font-size: 42px;
    color: #d56262;
}

main div article div p time{
    font-size: 20px;
}

main div article div a{
    color: #d56262;
    font-size: 20px;
}


main div article div a img{
    display: inline-block;
    max-height: 550px;
    width: 100%;    
}

.older{
    float: right;
    margin: 60px 0px;
}

.older a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

/* Main games.html */

/* section Silksong */

section{
    display: grid;
}
section .section-1-class{
    display: grid;
    padding-top: 80px;
    margin: 70px 150px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 290px 140.6px 40px 135px;
    column-gap: 20px;
    row-gap: 5px;
}

section .image-title-silksong{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
}
.image-title-silksong img{
    width: 500px;
    
}
section .video-silksong{
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: self-start;
}

section .steam-section-1{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
}

section .steam-section-1 a{
    color: #d56262;
}

.flex-site-kit{
    width: 100%;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

section .site-silksong-1{
    background-color: #d56262;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section .site-silksong-1 a{
    font-weight: 400;
    text-decoration: none;
    color: white;
}

section .kit-silksong-1{
    background-color: #d56262;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .kit-silksong-1 a{
    font-weight: 400;
    text-decoration: none;
    color: white;
}

main .container-line-games{
    display: grid;
    margin: 25px 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 1px;
}

.container-line-games .horizontal-line-games{
    align-self: center;
    width: 100%;
    border: 1px solid black;
    height: 1px;
}

/* Section Hollow Knight */

section{
    display: grid;
}

section .section-2-class{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 90px 50px 50px 130px; 
    row-gap: 5px;
    column-gap: 5px;
    margin: 70px 150px;
}

.section-2-class .image-title-hollow{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
}
.section-2-class .image-title-hollow img{
    width: 500px;
}

.section-2-class .video-hollow{
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    justify-self: center;
}

.section-2-class .p-section-hollow{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
}

.section-2-class .ul-stores-1{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.ul-stores-1 ul{
    list-style-type: none;
}

.ul-stores-1 ul li{
    display: inline;
}

.ul-stores-1 ul li a{
    color: #d56262;
}

.section-2-class .ul-stores-2{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
}

.ul-stores-2 ul{
    list-style-type: none;
}

.ul-stores-2 ul li{
    display: inline;
}

.ul-stores-2 ul li a{
    color: #d56262;
}

.section-2-class .site-kit-hollow{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.site-kit-hollow .visit-hollow{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    background-color: #d56262;

}
.visit-hollow a{  
    font-weight: 400; 
    align-content: center;
    color: white;
    text-decoration: none;
}

.site-kit-hollow .kit-hollow{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    background-color: #d56262;
}
.kit-hollow a{   
    font-weight: 400;
    align-content: center;
    color: white;
    text-decoration: none;
}

/* merchandise.html */

.merchan-1{
    display: block;
    width: 900px;
    padding-top: 150px;
    margin: 0px auto;
    
    
}
.merchan-1 a img{
    width: 100%;
    height: auto;
    display: block;
}

.merchan-2{
    display: block;
    width: 850px;
    margin: 50px auto;
    
    
}
.merchan-2 a img{
    width: 100%;
    height: auto;
    display: block;
}

/* about.html */

.padding-top-about{
    padding-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 365px 70px 50px 198px 40px 250px;
    row-gap: 30px;
}

.padding-top-about #logo-team-about{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center;
}

.padding-top-about .p-about-page{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center;
}

.p-about-page p{
    font-size: 18px;
}

.padding-top-about .title-about-page{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
}

.padding-top-about .photos-flex{
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 120px;
    width: 100%;
}

.padding-top-about .h3-flex{
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 220px;
    width: 100%;
}

.title-about-page h2{
    font-size: 45px;
    font-weight: 400;
}

.h3-flex div h3{
    font-weight: 500;

}

.padding-top-about .p-flex{
    grid-row: 6 / 7;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.p-flex div p{
    line-height: 1.5;
}

.p-gibson,
.p-william,
.p-jack{
    width: 270px;
}

/* Footer */
.footer{
    display: grid;
    background-color: #e83046;
    margin-top: 50px;
}

footer{
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 50px 40px 50px;
    justify-self: center;
    padding: 20px 20px;  
    
}

footer .footer-left-1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
}

footer .footer-right-1{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
    display: inline-block;
}

footer .footer-left-2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
    margin-bottom: 20px;
}

footer .footer-right-2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
    margin-bottom: 20px;
}

footer .footer-left-3{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
}

footer .footer-right-3{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

footer p{
    display: inline-block;
    vertical-align: top;
    color: white;
}

footer ul li{
    display: inline-block;
    color: white;
}
footer ul li a{
    /* text-decoration: none; */
    color: white;
}

footer ul li a svg{
    height: 22px;
}