*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Lato;
    line-height: 1.5;
}
header{
    height: 100px;
    background-color: rgb(251, 60, 60);
}
header nav{
    display: inline-block;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
}
header nav a{
    display: inline-block;
    max-height: 55px;
}
header nav a img{
    max-width: 100%;
    max-height: 55px;
    vertical-align: middle;
    
}
.spacer{
    display: inline-block;
    background-color: white;
    height: 0px;
    width: calc(100% - 500.19px);
}
header nav ul{
    display: inline-block;

    
}
header nav ul li{
    display: inline;
    font-size: 20px;
    padding-right: 10px;  
    vertical-align: baseline;
}
header nav ul li:last-child{
    padding-right: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}

svg{
    height: 22px;
    vertical-align: top;
}
.main-articles{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;


}

main article{
    margin-bottom: 10px;
    height: 550px;
    width: 1200px;
    /* border: 1px black solid; */
}
.image{
    display: inline-block;
}

.text{
    /* border: 1px black solid; */
    display: inline-block;
    width: 500px;
    margin: 80px 5px 0px 40px;
    vertical-align: top;
}

.second{
    /* border: 1px black solid; */
    display: inline-block;
    width: 500px;
    margin: 80px 5px 0px 40px;
    vertical-align: top;
    margin-right: 40px;
}

.spacer-2{
    display: inline-block;
    width: 60px;
}

main div article div h2{
    font-size: 35px;
    color: rgba(255, 0, 0, 0.662);
}

main div article div p time{
    font-size: 20px;
}

main div article div a{
    color: rgba(255, 0, 0, 0.662);
    font-size: 20px;
}


main div article div a img{
    display: inline-block;
    max-height: 550px;
    width: 100%;    
}
.spacer-older{
    /* border: 1px black solid; */
    display: inline-block;
    width: calc(100% - 117.47px);
}
.older{
    display: inline-block;
    margin-right: 20px;

}

footer{
    padding: 20px 20px;
    margin-top: 30px;
    background-color: rgba(255, 0, 0, 0.736);
}

footer p{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    color: white;
}

footer ul{
    display: inline-block;
    
}

footer ul li{
    display: inline;
    color: white;
}
footer ul li a{
    /* text-decoration: none; */
    color: white;
}

.first-space{
    display: inline-block;
    /* border: 1px black solid; */
    width: calc(100% - 654.19px);
}

.second-space{
    display: inline-block;
    /* border: 1px black solid; */
    width: calc(100% - 125.4px);
}

.copyright{
    display: block;
    margin-left: calc(75% - 200px);
}

.last-ul{
    margin-left: calc(100% - 100px);
}